@charset "UTF-8";

body {
    background-color: aquamarine;
    font: normal 12pt Arial;
}

header {
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.445);
    text-align: center;
}

section {
    margin: auto;
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.329);
}

button {
    height: 80px;
    width: 150px;
    font-size: 12pt;

}